<div class="cas-pratique-1">
  <h2>Cas pratique n°1 : les contrastes</h2>

  <div class="question">
    <p>Est-ce que les contrastes sont respectés sur ce site ?</p>
  </div>

  <div class="question-2">
    <p>
      La présentation visuelle du texte et des images du texte doit présenter un
      ratio de contraste d’au moins 4.5:1. Est-ce que ce ratio est respecté ?
    </p>
  </div>

  <div class="astuce">
    <div class="light">
      <i class="fa-regular fa-lightbulb" aria-hidden="true"></i>
    </div>
    <p>
      Pour vérifier le ratio des couleurs, consulter le site
      <a href="https://contrast-finder.tanaguru.com/"
        >tanaguru contrast finder</a
      >.
    </p>
  </div>
</div>
