<div class="content">
  <h2>Bienvenue sur ce site non accessible !</h2>

  <p>Ce site non accessible a été conçu pour les conférences en live-coding.</p>

  <p>
    Vous pouvez récupérer
    <a href="https://github.com/emma11y/tester-a11y-angular/"
      >les sources sur GitHub par le lien</a
    >
  </p>
  <p>Ou scanner le QR Code</p>

  <div>
    <img
      style="width: 20vw"
      src="../../assets/img/github.png"
      alt="QR Code pour accéder aux sources sur GitHub"
    />
  </div>

  <h3>Abstract</h3>
  <p>
    Selon
    <a href="https://observatoire-access-num.aveuglesdefrance.org/"
      >l'Observatoire du respect des obligations d'accessibilité</a
    >, seulement moins de 5% des sites web sont accessibles pour les personnes
    handicapées. Dans cette conférence, nous explorons les six erreurs
    d'accessibilité les plus courantes sur un site web. Afin de les corriger, je
    vous présenterai des conseils simples à mettre en pratique en HTML et un peu
    de CSS. Je vous expliquerai aussi comment effectuer un test avec un lecteur
    d'écran et le clavier afin de vérifier si sa page web est accessible.
  </p>

  <h3>Comment commencer à tester ?</h3>
  <p>
    Pour trouver les défauts d'accessibilité, on a besoin que de deux choses :
    <span class="font-bold">le clavier</span> et
    <span class="font-bold">le lecteur d'écran</span>. L'utilisation de la
    souris est prohibée.
  </p>

  <p>Pour le lecteur d'écran, on peut utiliser :</p>
  <ul>
    <li><a href="https://www.nvda.fr/">NVDA</a> (Windows)</li>
    <li><a href="https://orca.gnome.org/">Orca (EN)</a> (Linux/Ubuntu)</li>
    <li>
      <a href="https://support.apple.com/fr-fr/guide/voiceover/vo2682/mac"
        >VoiceOver</a
      >
      (IOS)
    </li>
    <li>
      <a
        href="https://support.google.com/accessibility/android/answer/6007100?hl=fr"
        >TallBack</a
      >
      (Android)
    </li>
    <li><a href="https://www.ceciaa.com/jaws">JAWS</a> (Windows)</li>
  </ul>

  <div class="astuce">
    <div class="light">
      <i class="fa-regular fa-lightbulb" aria-hidden="true"></i>
    </div>
    <p>
      Pour pouvoir commencer à naviguer sur ce site avec la touche
      <code>TAB</code>, la solution se trouve dans le fichier
      <code>style.scss</code>
    </p>
  </div>
</div>
