.header {
  margin-bottom: 2em;
}

.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 1em;

  @media screen and (max-width: 699px) {
    flex-direction: column;
  }

  .title {
    margin-top: 1em;
    margin-right: 2em;

    h1 {
      margin: 0;
    }
  }
}

.theme-switcher {
  text-align: right;
  align-content: center;

  button {
    &:first-child {
      border-top-left-radius: 0.5em;
      border-bottom-left-radius: 0.5em;
    }

    &:last-child {
      border-top-right-radius: 0.5em;
      border-bottom-right-radius: 0.5em;
      border-left: none;
    }
  }
}

.theme-switcher-buttons {
  display: flex;
  button {
    width: 5em;
    font-size: 0.8em;
  }
}

.fa-circle-check {
  display: none;
}

[aria-pressed="true"] {
  background-color: var(--color-primary);
  color: var(--bg-color);

  /* .fa-circle-check {
    display: block;
  }*/
}

a {
  &.active {
    text-decoration-thickness: 0.2em;
    text-decoration-line: underline;
    text-decoration-style: unset;
    text-underline-offset: 0.5em;
    text-decoration-color: var(--color-secondary);
  }
}

.fa-sun,
.fa-moon {
  font-size: 1.5em;
  margin: auto;
}

.fa-circle-check {
  align-content: end;
  padding-left: 0.5em;
}

nav {
  margin-top: 2em;
  padding: 0 1em;
  text-align: center;
  display: flex;

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 0;

    li {
      padding-right: 1em;
      margin-bottom: 0.5em;
    }
  }
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;

  /* fallback height */
  min-height: 100vh;

  /* new small viewport height for modern browsers */
  min-height: 100svh;
}
