<header class="header">
  <div class="banner">
    <div class="title">
      <h1>Comment tester l'accessibilité d'un site internet ?</h1>
    </div>
    <div class="theme-switcher">
      <fieldset>
        <legend class="sr-only">Choisir votre thème d'affichage</legend>
        <div class="theme-switcher-buttons">
          <button type="button" data-theme="light" title="Clair" id="btnLight">
            <i class="fa-solid fa-sun"></i>
            <i class="fa-regular fa-circle-check"></i>
          </button>
          <button type="button" data-theme="dark" title="Sombre" id="btnDark">
            <i class="fa-solid fa-moon"></i>
            <i class="fa-regular fa-circle-check"></i>
          </button>
        </div>
      </fieldset>
    </div>
  </div>

  <nav role="navigation">
    <ul>
      <li>
        <router-link href="/" title="Accueil"></router-link>
      </li>
      <li>
        <router-link
          href="/cas-pratique-1"
          title="Cas pratique n°1"
        ></router-link>
      </li>
      <li>
        <router-link
          href="/cas-pratique-2"
          title="Cas pratique n°2"
        ></router-link>
      </li>
      <li>
        <router-link
          href="/cas-pratique-3"
          title="Cas pratique n°3"
        ></router-link>
      </li>
      <li>
        <router-link
          href="/cas-pratique-4"
          title="Cas pratique n°4"
        ></router-link>
      </li>
      <li>
        <router-link
          href="/cas-pratique-5"
          title="Cas pratique n°5"
        ></router-link>
      </li>
      <li>
        <router-link
          href="/cas-pratique-6"
          title="Cas pratique n°6"
        ></router-link>
      </li>
      <li>
        <router-link href="/ci-cd" title="CI/CD"></router-link>
      </li>
      <li>
        <router-link href="/bonus" title="Bonus"></router-link>
      </li>
      <li>
        <router-link href="/faq" title="FAQ"></router-link>
      </li>
      <li>
        <router-link href="/ressources" title="Ressources"></router-link>
      </li>
      <li>
        <router-link href="/a-propos" title="A propos"></router-link>
      </li>
    </ul>
  </nav>
</header>
