<div class="cas-pratique-5">
  <h2>Cas pratique n°5 : les boutons</h2>

  <div class="question">
    <p>Est-ce que ces boutons sont accessibles ?</p>
  </div>

  <fieldset>
    <legend>Veuillez choisir votre moyen de paiement :</legend>
    <div class="buttons">
      <button type="button">
        <i class="fa-brands fa-cc-visa" aria-hidden="true"></i>
      </button>
      <button type="button">
        <i class="fa-brands fa-cc-mastercard" aria-hidden="true"></i>
      </button>
      <button type="button">
        <i class="fa-brands fa-cc-paypal" aria-hidden="true"></i>
      </button>
    </div>
  </fieldset>

  <p style="margin-top: 5em">
    Source :
    <a href="https://www.lalutineduweb.fr/boutons-accessibles-html/"
      >Créer des boutons accessibles et dignes de ce nom en HTML</a
    >
    - La Lutine du Web
  </p>
</div>
