<h2>Ressources</h2>

<h3>Outils de tests</h3>

<ul>
  <li>
    <a href="https://developer.chrome.com/docs/lighthouse/overview?hl=fr"
      >Lighthouse</a
    >
  </li>
  <li>
    <a href="https://assistant-rgaa.empreintedigitale.fr/">Assistant RGAA</a> -
    Extension de navigateur permettant d'auditer des pages web en suivant le
    référentiel RGAA.
  </li>
  <li>
    <a href="https://github.com/Tanaguru/webextension">Tanaguru wbext</a> -
    permettant de tester l'accessibilité de votre site sur votre navigateur ou
    en local
  </li>
  <li>
    <a href="https://ara.numerique.gouv.fr/">Ara</a> permet de vous aider à
    faire un état des lieux ou un audit de conformité
  </li>
  <li>
    <a
      href="https://www.temesis.com/blog/pointer-cancellation-inspector-un-outil-pour-verifier-l-application-de-wcag-2-5-2-rgaa-13-11/"
      ><span lang="en">Pointer Cancellation Inspector</span></a
    >
    : Un outil pour vérifier l’application de WCAG 2.5.2 / RGAA 13.11
  </li>
  <li>
    <a href="https://github.com/copsae/outils-audits-accessibilite"
      >Outils pour les audits d’accessibilité</a
    >
    par Cospae
  </li>
  <li>
    <a
      href="https://www.temesis.com/blog/dashboard-des-tests-automatises-daccessibilite/"
      >Dashboard des tests automatisés d'accessibilité</a
    >
    par Temesis
  </li>
  <li>
    <a
      href="https://www.linkedin.com/posts/eyaleshet_automated-accessibility-testing-about-activity-7272626275662376961-KO6R"
      ><span lang="en">Automated accessibility testing</span></a
    >
    (EN), post de Eyal Eshet sur LinkedIn
  </li>
  <li>
    <a href="https://playwright.dev/docs/accessibility-testing"
      ><span lang="en">Accessibility testing with Playwright</span></a
    >
  </li>
  <li>
    <a
      href="https://medium.com/@manon.carbonnel/tester-son-interface-efficacement-des-patterns-pour-des-tests-dui-robustes-d3b98010aa8c"
      >Tester son interface efficacement : des patterns pour des tests d’UI
      robustes</a
    >
    par Manon Carbonnel et Jeremy Chauvin, mes collègues de Shodo.
  </li>
</ul>

<h3>Sensibilisation et wiki</h3>

<ul>
  <li>
    <a
      href="https://www.atalan.fr/agissons/fr/"
      target="_blank"
      rel="noopener noreferrer"
      >L'accessibilité numérique, et si nous agissions ?</a
    >
    créé par Atalan
  </li>
  <li>
    <a href="https://simulation-accessibilite.inria.fr/"
      >Simulation de l'accessibilité numérique</a
    >
    par l'INRIA
  </li>
  <li>
    <a
      href="https://threadreaderapp.com/thread/1124961934070226945.html?refreshed=1563516983"
      target="_blank"
      rel="noopener noreferrer"
      >Thread sur l'accessibilité web lors des 20 ans du WCAG</a
    >
    rédigé par Arnaud Delafosse
  </li>
  <li>
    <a
      href="https://wiki.lalutineduweb.fr/"
      target="_blank"
      rel="noopener noreferrer"
      >Le wiki de la Lutine du Web</a
    >
    de Julie Moynat
  </li>
  <li>
    <a href="https://www.iamtamara.design/fr/accessibility-resources">
      Ressources en accessibilité</a
    >
    de Tamara Sredojevic
  </li>
  <li>
    <a
      href="https://focus.hteumeuleu.com/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span lang="en">A keyboard accessibility horror game</span>
      (EN)</a
    >
    de HTeuMeuLeu.
  </li>
</ul>

<h3>Référentiels</h3>

<ul>
  <li>
    <a
      href="https://accessibilite.numerique.gouv.fr/methode/criteres-et-tests/"
      target="_blank"
      rel="noopener noreferrer"
      >Critères RGAA</a
    >
    sur accessibilite.numerique.gouv.fr
  </li>
  <li>
    <a href="https://design.numerique.gouv.fr/outils/memo-dev/">Mémo dev</a> de
    DesignGouv
  </li>
  <li>
    <a href="https://www.info.gouv.fr/accessibilite/developpement"
      >Développement et RGAA : rendez votre site accessible à tous</a
    >
    sur info.gouv.fr
  </li>
  <li>
    <a
      href="https://www.accede-web.com/notices/"
      target="_blank"
      rel="noopener noreferrer"
    >
      Les notices AcceDe Web</a
    >
    d'AcceDeWeb
  </li>
  <li>
    <a href="https://www.systeme-de-design.gouv.fr/composants-et-modeles/"
      >Composants et modèles</a
    >
    de Système de Design de l'État pour vous aider à concevoir les composants
  </li>
  <li>
    <a href="https://www.w3.org/WAI/standards-guidelines/wcag/fr">
      Règles pour l’accessibilité des contenus Web (WCAG) 2</a
    >
    de W3C
  </li>
  <li>
    <a href="https://a11y-guidelines.orange.com/fr/">
      L'accessibilité numérique chez Orange</a
    >
    d'Orange
  </li>
  <li>
    <a
      href="https://w3c.github.io/aria-practices/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span lang="en"> WAI-ARIA Authoring Practices 1.2 (EN)</span></a
    >
    de W3C
  </li>
  <li>
    <a href="https://webaim.org/" target="_blank" rel="noopener noreferrer">
      <span lang="en">WebAIM - We have web accessibility in mind (EN)</span>
    </a>
    de WebAIM
  </li>
</ul>

<h3>Formations, accompagnement et audits</h3>

<p>
  Voici la liste non exhaustive des agences qui donnent des formations autour de
  l'accessibilité numérique. Ces agences vous proposent également de
  l'accompagnement et de l'audit de vos projets informatiques.
</p>

<ul>
  <li><a href="https://formations.access42.net/">Access42</a></li>
  <li>
    <a href="https://www.accede-web.com/formations-accessibilite/">Atalan</a>
  </li>
  <li><a href="https://www.copsae.fr/">Copsaé</a></li>
  <li><a href="https://ideance.net/fr/">Idéance</a></li>
  <li><a href="https://koena.net/formations/">Koena</a></li>
  <li>
    <a href="https://www.tanaguru.com/prestations/formations/">Tanaguru</a>
  </li>
  <li><a href="https://temesis.com/formation/">Temesis</a></li>
</ul>
