<div class="a-propos">
  <h2>A propos</h2>

  <h3>Emmanuelle Aboaf</h3>

  <div class="row">
    <div class="col">
      <p>
        Sourde de naissance, bionique (deux implants cochléaires) et surtout
        développeuse Fullstack Angular .NET passionnée de technologies, je lutte
        chaque jour pour l’accessibilité. Dans mon monde idéal, tout doit être
        accessible aussi bien dans la vraie vie que dans le Web.
      </p>

      <p>Je suis membre des associations :</p>

      <ul>
        <li><a href="https://www.duchess-france.fr/">Duchess France</a></li>
        <li><a href="https://compositech.org/">Compositech</a></li>
        <li><a href="https://yeeso.fr/">Yeeso</a></li>
      </ul>

      <p>
        Je suis fière d'être ambassatrice du programme
        <a href="https://developers.google.com/womentechmakers?hl=fr"
          ><span lang="en">Women Techmakers</span></a
        >
        de Google.
      </p>

      <div class="reseaux-sociaux">
        <ul>
          <li>
            <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
            <a
              href="https://www.linkedin.com/in/emmanuelle-aboaf/"
              title="Retrouvez Emmanuelle Aboaf sur LinkedIn"
              >Emmanuelle Aboaf</a
            >
          </li>
          <li>
            <i class="fa-brands fa-bluesky" aria-hidden="true"></i>
            <a
              href="https://bsky.app/profile/eaboaf.bsky.social"
              title="Retrouvez Emmanuelle sur BlueSky"
              >{{ "@eaboaf.bsky.social" }}</a
            >
          </li>
          <li>
            <i class="fa-brands fa-mastodon" aria-hidden="true"></i>
            <a
              href="https://a11y.info/@eaboaf"
              title="Retrouvez Emmanuelle sur Mastodon"
              >{{ "@eaboaf@a11y.info" }}</a
            >
          </li>
          <li>
            <i class="fa-solid fa-link" aria-hidden="true"></i>
            <a
              href="https://emmanuelle-aboaf.netlify.app/accueil"
              title="Consultez le portfolio d'Emmanuelle"
              >Portfolio</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="col">
      <img
        alt="Portrait d'Emmanuelle"
        src="../../assets/img/Emmanuelle.jpg"
        class="avatar"
      />
    </div>
  </div>

  <h3>Shodo</h3>

  <p>
    Shodo est une agence de conseil qui propose un modèle transparent pour ses
    clients et ses membres avec une répartition des revenus équitable (en
    moyenne 85% de sa facturation totale est reversée au consultant sous forme
    de rémunération fixe plus variable, jours de déstaffing communautaires et
    congés supplémentaires).
  </p>
  <p>
    A travers cette approche, nous souhaitons lutter contre le fort turnover
    dans l'IT en répondant aux attentes des meilleurs développeurs du marché :
    combiner les aspects flexibles et rémunérateurs du modèle freelance, tout en
    profitant de la sécurité d’un CDI et du soutien d’une communauté
    d’entreprise.
  </p>
  <p>
    Nous prônons un dialogue social simple et efficace : tous les salaires fixes
    sont alignés et basés sur une grille ouverte et nos membres ajustent leur
    rémunération et leur temps libre pour se former, échanger ou se reposer,
    dans le respect des engagements clients pris.
  </p>

  <p>Pour consulter le site Shodo : <a href="https://shodo.io">shodo.io</a></p>

  <div class="logo-shodo">
    <div class="logo">
      <div class="wrap-shodo">
        <img alt="" src="../../assets/img/logo-shodo.svg" />
      </div>
      <div class="wrap-logo">
        <p>SHODO</p>
      </div>
    </div>
    <div class="brand" lang="en">
      <span>crafting</span>
      <span>sustainable</span>
      <span>code we do</span>
    </div>
  </div>
</div>
