<div class="group">
  <label>{{ label }}</label>

  <div class="group-input">
    @if(type === "text"){

    <input
      type="text"
      [id]="id"
      [name]="name"
      [(ngModel)]="value"
      (input)="updateValue($event)"
      (blur)="onMarkControlTouched()"
      required
      [controlElement]="control"
    />

    <!-- [attr.aria-invalid]="control.invalid"
      [attr.aria-describedby]="id + '-error'"-->

    } @else {

    <textarea
      rows="5"
      cols="5"
      [id]="id"
      [name]="name"
      [(ngModel)]="value"
      (blur)="onMarkControlTouched()"
      (input)="updateValue($event)"
      required
      [controlElement]="control"
    ></textarea>

    <!-- [attr.aria-invalid]="control.invalid"
      [attr.aria-describedby]="id + '-error'"-->

    }

    <!--<i class="fa-solid fa-circle-check" aria-hidden="true"></i>
    <i class="fa-solid fa-circle-xmark" aria-hidden="true"></i>-->
  </div>

  <validation-summary
    [id]="id + '-error'"
    [control]="control"
    [fieldName]="label"
  ></validation-summary>
</div>
