.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;

  label {
    margin-bottom: 0.5em;
    color: var(--color);
  }

  textarea,
  input {
    border: 0.1em solid var(--color);

    // &.ng-touched.valid,
    // &.ng-dirty.valid,
    &.valid {
      border: 0.25em solid var(--color-green);
    }

    // &.ng-touched.invalid,
    // &.ng-dirty.invalid,
    &.invalid {
      border: 0.25em solid var(--color-red);
    }
  }

  .fa-circle-check,
  .fa-circle-xmark {
    display: none;
  }

  .valid {
    textarea,
    input {
      border: 0.25em solid var(--color-green);
    }

    .fa-circle-check {
      display: block;
      color: var(--color-green);
    }
  }

  .invalid {
    textarea,
    input {
      border: 0.25em solid var(--color-red);
    }

    .fa-circle-xmark {
      display: block;
      color: var(--color-red);
    }
  }

  &-input {
    display: flex;

    &:has(.valid) {
      i {
        color: var(--color-green);
      }
    }

    &:has(.invalid) {
      i {
        color: var(--color-red);
      }
    }

    i {
      margin: auto;
      padding-left: 1em;
    }
  }

  input,
  textarea {
    width: 100%;
    max-width: 40em;
    padding: 0.5em;
  }

  .error {
    display: none;
    font-size: 0.8em;
    margin: 0;
    padding-top: 0.5em;
    color: var(--color-red);
  }

  &:has(.invalid) {
    .error {
      display: block;
    }
  }
}
