<div class="cas-pratique-6">
  <h2>Cas pratique n°6 : les liens</h2>

  <div class="question">
    <p>Est-ce que ces liens sont accessibles ?</p>
  </div>

  <div class="cards">
    <div class="card">
      <div class="card-body">
        <h3>Référentiel général d’amélioration de l’accessibilité (RGAA)</h3>

        <p>
          Pour faciliter la mise en accessibilité des sites et services
          numériques, la direction interministérielle du numérique (DINUM) édite
          le référentiel général d’amélioration de l’accessibilité, dont voici
          la quatrième version.
        </p>
      </div>
      <div class="card-footer">
        <a href="https://accessibilite.numerique.gouv.fr/"
          >En savoir plus
          <i class="fa-solid fa-arrow-right" aria-hidden="true"></i
        ></a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h3>Système de Design de l'État</h3>
        <p>
          Développer vos sites et applications en utilisant des composants prêts
          à l'emploi, accessibles et ergonomiques.
        </p>
        <p>
          Ce projet est le volet numérique de la marque de l'État, qui permet
          pour les citoyens d'avoir une cohérence graphique et une meilleure
          expérience à travers l'ensemble des sites de l'État. Le Système de
          Design de l'État regroupe un ensemble de composants réutilisables,
          répondant à des standards et à une gouvernance, pouvant être assemblés
          pour créer des sites Internet accessibles et ergonomiques
        </p>
      </div>
      <div class="card-footer">
        <a href="https://www.systeme-de-design.gouv.fr/"
          >En savoir plus
          <i class="fa-solid fa-arrow-right" aria-hidden="true"></i
        ></a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h3>Réalisez vos audits d’accessibilité numérique</h3>

        <p>
          Ara nécessite une bonne connaissance de la méthode technique du RGAA.
          Basé sur la dernière version du référentiel général d’amélioration de
          l’accessibilité (RGAA 4.1) vous pouvez :
        </p>

        <ul>
          <li>Faire un état des lieux (audit partiel de 25 ou 50 critères)</li>
          <li>Faire un audit complet, dit de conformité (106 critères)</li>
          <li>
            Générer votre rapport d’audit et votre déclaration d’accessibilité
          </li>
        </ul>
      </div>
      <div class="card-footer">
        <a href="https://ara.numerique.gouv.fr/"
          >En savoir plus
          <i class="fa-solid fa-arrow-right" aria-hidden="true"></i
        ></a>
      </div>
    </div>
  </div>

  <div class="astuce">
    <div class="light">
      <i class="fa-regular fa-lightbulb" aria-hidden="true"></i>
    </div>
    <div class="astuce-content">
      <p>Un bouton n'est pas un lien et un lien n'est pas un bouton.</p>
      <ul>
        <li>Un bouton <span class="font-bold">fait quelque chose</span>.</li>
        <li>Un lien <span class="font-bold">va quelque part</span>.</li>
      </ul>
    </div>
  </div>

  <p>
    Explication :
    <a
      href="https://karlgroves.com/links-are-not-buttons-neither-are-divs-and-spans/"
      ><span lang="en"
        >Links are not buttons. Neither are DIVs and SPANs</span
      ></a
    >
    - <span lang="en">Karl Groves</span>
  </p>
</div>
