<div class="faq">
  <h2>Foire aux questions</h2>

  <h3>
    <i class="fa-solid fa-arrow-right" aria-hidden="true"></i>
    Quelles sont les obligations légales pour rendre accessible un site internet
    ?
  </h3>
  <div class="faq-reponse">
    <h4>Article 47 de la loi du 11 février 2005</h4>

    <p>
      L'article 47 fait de l’accessibilité une exigence pour tous les services
      de communication publique en ligne de l’État, des collectivités
      territoriales et des établissements publics qui en dépendent.
    </p>

    <h4>Article 106 de la Loi pour une République numérique</h4>

    <p>On ajoute l'obligation du respect à l'accessibilité numérique aux :</p>

    <ul>
      <li>les organismes délégataires d’une mission de service public,</li>
      <li>
        les entreprises privées ayant un chiffre d’affaire en France d’au moins
        250 millions d’euros (sur une moyenne des trois dernières années de
        l’exercice).
      </li>
    </ul>

    <h4>Nouvelles règlementations en 2023</h4>

    <p>
      L'obligation d'accessibilité numérique est étendue à certaines typologies
      de services à destination des consommateurs (B2C) : téléphonie, média
      audiovisuel, e-commerce, bancaire, transport.
    </p>

    <p>
      Ainsi qu'aux entreprises privées ayant au moins 10 employés et un chiffre
      d'affaires suppérieur à 2 M€.
    </p>

    <p class="mt-2">
      Source :
      <a
        href="https://www.temesis.com/blog/synthese-des-nouvelles-reglementations-encadrant-laccessibilite-numerique-en-france/"
      >
        Synthèse des nouvelles règlementations d'accessibilité numérique en
        France</a
      >
      de Temesis
    </p>
  </div>
  <h3 class="mt-3">
    <i class="fa-solid fa-arrow-right" aria-hidden="true"></i> Existe t-il un
    référentiel d'accessibilité ?
  </h3>

  <div class="faq-reponse">
    <p>
      Oui, c'est le RGAA, le Référentiel général d’amélioration de
      l’accessibilité basé sur les normes internationales, le WCAG
      <span lang="en">(Web Content Accessibility Guidelines)</span>. Il comporte
      une centaine de critères d'accessibilité qui permettent de rendre
      accessible un site internet.
    </p>

    <p>Ressources :</p>
    <ul>
      <li>
        <a href="https://accessibilite.numerique.gouv.fr/"
          >Référentiel général d’amélioration de l’accessibilité</a
        >
      </li>
      <li>
        <a
          href="https://accessibilite.numerique.gouv.fr/methode/criteres-et-tests/"
          >Critères et tests</a
        >
      </li>
      <li>
        <a href="https://www.w3.org/WAI/standards-guidelines/wcag/fr">
          Règles pour l’accessibilité des contenus Web (WCAG) 2
        </a>
      </li>
    </ul>
  </div>

  <h3 class="mt-3">
    <i class="fa-solid fa-arrow-right" aria-hidden="true"></i> Peut-on utiliser
    des outils de surcouche ou l'intelligence artificielle pour rendre
    accessible ?
  </h3>
  <div class="faq-reponse">
    <p>
      Les outils de surcouche d'accessibilité ne garantissent pas
      l'accessibilité. En effet, ils ne rendent pas accessibles automatiquement
      les sites internets et empêchent souvent le fonctionnement du site
      internet lorsque l'utilisateur ou l'utilisatrice interagit sur le site
      avec son clavier ou son lecteur d'écran.
    </p>

    <p>
      Quant à l'intelligence artificielle, à l'heure actuelle, elle n'est pas
      capable de produire du code accessible en respectant les standards
      d'accessibilité.
    </p>

    <p>
      A titre d'exemple, combien de projets sur GitHub ont implémenté
      l'accessibilité numérique dans leur code ? C'est pourquoi Github Copilot -
      puisqu'il apprend en scannant les projets sur Github - n'est pas capable,
      pour l'instant, de produire du code accessible.
    </p>

    <p>
      Par contre, on peut utiliser des tests automatisés pour détecter les
      erreurs d'accessibilité.
    </p>

    <p>
      Le moyen le plus sûr de rendre accessible est de mettre les mains dans le
      code.
    </p>
    <div class="mt-2">
      <p>Sources :</p>

      <ul>
        <li>
          <a
            href="https://www.lalutineduweb.fr/surcouche-accessibilite-web-mensonges-boules-gommes/"
          >
            Les outils de surcouche d’accessibilité web : mensonges et boules de
            gomme</a
          >
          de Julie Moynat
        </li>
        <li>
          <a
            href="https://design.numerique.gouv.fr/articles/2023-12-18-outils-de-surcouche-et-conformite-rgaa/"
            >Les outils de surcouche et la conformité au RGAA</a
          >
          de DesignGouv
        </li>
        <li>
          <a
            href="https://raw.githack.com/w3c/ai-accessibility/FPWD-ai-accessbility/index.html"
            ><span lang="en"
              >Accessibility of machine learning and generative AI</span
            ></a
          >
          - W3C
        </li>
      </ul>
    </div>
  </div>

  <h3 class="mt-3">
    <i class="fa-solid fa-arrow-right" aria-hidden="true"></i> A quel moment
    prendre en compte l'accessibilité numérique ?
  </h3>

  <div class="faq-reponse">
    <p>Dès le début du projet !</p>

    <p>
      On n'intègre pas l'accessibilité à la fin du projet car il faudra refaire
      chaque page où l'accessibilité fait défaut. Du coup, ça coûte
      <span class="font-bold">plus cher</span> de le faire à la fin.
    </p>

    <p>
      L'accessibilité numérique ne concerne pas que les sites internets mais
      aussi les sites <span class="font-bold">intranets</span>,
      <span class="font-bold">extranets</span> et
      <span class="font-bold">les applications mobiles</span>.
    </p>
  </div>
</div>
